{% extends "base.html" %}
{% block content %}

<h1>My Posts</h1>
<h2>Welcome: {{ username }}</h2>

<section class="container">
    <div class="row">
        <div class="col">
            {% for post in posts %}
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Created {{ post.date.strftime('%d-%m-%Y') }} by {{ post.creator_name }}</h6>
                    {% if session['user_is_admin'] == True or session['user_id'] == post.creator_id %}
                    <a href="{{ url_for('delete_post', post_id=post.id) }}" class="btn red">Delete</a>
                    {% endif %}
                </div>
                <div class="card-body">
                    <p class="card-text">{{ post.content }}</p>
                </div>
                <div class="card-footer">
                    <!-- Add comments for post -->
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</section>





{% endblock %}