{% extends "base.html" %}

{% block content %}

<section class="container">
    <div class="row">
        <div class="col col-12">
            <h1 class="text-center m-5">Topics</h1>
        </div>
    </div>
    {% if session['user_is_admin'] == True %}
    <div class="row d-flex justify-content-center">
        <div class="col col-lg-6 d-flex justify-content-center">
            <a href="{{ url_for('create_topic') }}" class="btn btn-primary btn-lg my-3">Create Topic</a>
        </div>
    </div>
    {% endif %}

    <div class="row d-flex justify-content-center">
        {% for topic in topics %}
            <div class="col col-12 col-lg-6 m-2">
                <h2>{{ topic.name }}</h2>
                <p>Created: {{ topic.date }} by {{ topic.creator_name }}</p>

                {% if session['user_is_admin'] == True %}
                    <a href="{{ url_for('delete_topic', topic_id=topic.id) }}" class="btn btn-danger">Delete</a>
                {% endif %}

            </div>
        {% endfor %}
    </div>

</section>

{% endblock %}