{% extends "base.html" %}

{% block content %}

<section class="container">

    <h1>Topics</h1>
    <h2>Welcome: {{ username }}</h2>

    {% if session['user_is_admin'] == True %}
    <div class="row">
        <div class="col">
            <a href="{{ url_for('create_topic') }}" class="btn">Create Topic</a>
        </div>
    </div>
    {% endif %}

    <div class="row">
        {% for topic in topics %}
            <div class="col col-12">
                <h2>{{ topic.name }}</h2>
                <p>Created: {{ topic.date }} by {{ topic.creator_name }}</p>

                {% if session['user_is_admin'] == True %}
                    <a href="{{ url_for('delete_topic', topic_id=topic.id) }}" class="btn red">Delete</a>
                {% endif %}

            </div>
        {% endfor %}
    </div>

</section>

{% endblock %}