{% extends "base.html" %}
{% block content %}

<section class="container">
    <div class="row">
        <div class="col col-12">
            <h1 class="text-center m-5">Users</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="col col-12">
                {% for message in messages %}
                <h3>{{ message }}</h3>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        </div>
    </div>
    <div class="row d-flex justify-content-center my-3">
        <div class="col col-lg-6">
            {% if session['user_is_admin'] == True or session['username'] == 'KyleMardy' %}
            <form method="POST" action="{{ url_for('users') }}">
                {% for user in users %}
                <div class="col col-12 d-flex mb-2">
                    <div class="px-2">
                        User: {{ user.username }}
                    </div>
                    <div class="form-check form-switch">
                        <label class="form-check-label px-2" for="is-admin-{{ user.id }}"> Admin </label>
                        <input class="form-check-input" type="checkbox" role="switch" id="is-admin-{{ user.id }}"
                            name="is-admin-{{ user.id }}" {% if user.is_admin %} checked {% endif %}>
                    </div>
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-success m-2">Confirm Changes</button>
            </form>
            {% else %}
            <h3>Sorry this is an admin only page</h3>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}